* {
    margin: 0;
    padding: 0;
    color: #12130F;
}

.App {
    margin : auto;
    padding: 1rem;
    width: fit-content;

    header{
        margin-bottom: 1rem;
        .heading{
            display: flex;
            margin-bottom: 1rem;
            img{
                margin-right: 0.5rem;
            }
            
        }
    }

    .main{
        button{
            margin-bottom: 1rem;
            background-color: #8FCB9B;
            padding: 0.8em;
            border-radius: 10px;
            border:none;
            margin-right: 1rem;
            cursor: pointer;
            color: #12130F;
            

            
        }
        hr{
            border: 1px solid #12130F;
        }

        .song{
            margin: 1rem 0;
            padding: 1rem;
            box-sizing: border-box;
            
            background-color: #8FCB9B;
            border-radius: 10px;
            h4{
                font-size: 1.2em;
            }
            font-size: 0.9em;
            a{
                text-decoration: none;
                
            }
        }
    }
}